.counter {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.counter-count {
  text-align: left;
}

.counter-actions {
  display: flex;
  gap: 1rem;
}

.counter-button {
  cursor: pointer;
  padding: 1rem;
  background-color: burlywood;
  border: none;
  width: 4rem;
  border-radius: 6px;
}
