.home-page {
  background-color: var(--grey-light);
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.home-page-top-section {
  margin-bottom: 1rem;
}
