.search-field {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 1rem;
}

.search-input {
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--black);
  opacity: 0.85;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
}

.search-input:focus {
  outline: none;
}

.search-button {
  cursor: pointer;
  padding: 1rem 4rem;
  border: none;
  background-color: var(--red);
  color: var(--white);
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 6px;
}
