.select-input {
  display: flex;
  flex: 1;
  position: relative;
}

.select-input-options-list {
  position: absolute;
  top: 3.5rem;
  right: 0;
  left: 0;
  background-color: var(--black);
  border: 1px solid var(--grey);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

label.select-input-option {
  width: 100%;
  cursor: pointer;
  color: var(--white);
  text-transform: capitalize;
  padding: 0.5rem;
}

.select-option-checkbox {
  margin-right: 0.5rem;
}

.select-input-field {
  flex: 1;
}
