body {
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --red: #f65261;
  --black: #232323;
  --grey: #424242;
  --grey-light: #555555;
  --white: #fff;
}

#counter-legacy {
  background-color: antiquewhite;
  padding: 1rem;
  max-width: 20rem;
  margin: 1rem;
}

.with-fluid-height {
  display: flex;
  flex-direction: column;
  flex: 1;
}
